body {
    font-family: Arial, Helvetica, sans-serif;
    color: #19282F;
    padding: 0;
    margin: 0;
}

#title {
    font-size: 30px;
    padding-left: 30px; 
    border-bottom: 1px solid #A1B57D;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navbar {
    min-width: 290px;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #D3ECA7;
    color: #19282F;
    border-right: 3px solid #A1B57D;

}

#navbar a {
    padding: 15px 30px;
    border-bottom: 1px solid #A1B57D;
    text-decoration: none;
    color: #19282F;
    display: block;
}

#navbar li:last-of-type a {
    border: none;
  }

#link-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#reference {
    color: #A1B57D;
}

.main-section > header {
    font-size: 30px;
}

#main-doc {
    padding: 25px;
    line-height: 1.5;
    position: absolute;
    margin-left: 300px;
}

#main-doc li {
    padding-bottom: 20px;
    margin-left: 40px;
}

li:last-of-type {
    padding-bottom: 0px;
}

.code {
    background-color: #F5F5F5;
    color: #19282F;
    padding: 15px 20px;
    margin: 5px;
    border-radius: 5px;
}

p {
    margin: 20px;
}

@media (max-width: 850px) {
    #container {
        display: flex;
        flex-direction: column;
    }

    #title {
        text-align: center;
        border-bottom: 3px solid #A1B57D;
    }

    #navbar {
        height: 300px;
        width: 100%;
        overflow: auto;
        border-right: none;
        border-bottom: 3px solid #A1B57D;
        position: static;
        display: flex;
        flex-direction: column;
    }

    #link-block {
        position: static;
        top: 80px;
        overflow: auto;
    }

    #main-doc {
        position: static;
        margin-left: 0px;
    }
}
